html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #545454;
}


ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


li {
    position: relative;
    margin: 0;
    padding: 0;
}


a {
  text-decoration: none !important;
  border: none !important;
}


p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}


.title-second {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
}


h4 {
    line-height: 115%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}


.main_button{
    align-items: center;
    padding: 15px 45px 15px 45px;
    color: #292929;
    border: none;
    background:  #F1CDB3;
    font-size: 17px;
    border-radius: 100px;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-color: none;
   
}


.main_button:hover{
    background: #926748;;
    transition: 2000ms;
 }


.second_btn{
    color: #292929;
    cursor: pointer;
    padding: 15px 45px 15px 45px;
    margin-top: 35px;
    border-radius: 100px;
    margin-bottom: 30px;
    border-color: #F1CDB3;
    transition: 2000ms;
}


.second__btn:hover{
    background: #cd976d; 
}


.container{
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 40px;
}

/* header */

.header{

    padding-top: 30px;
    background:  url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu__logo-desc{
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-top: 10px;
}


.menu__logo{
    color: #F1CDB3;
    font-size: 32px;
    line-height: 110%;
}


.nav__link + .nav__link{
    margin-left: 35px;   
}


.nav__link{
    color: #CDCDCD;
    font-size: 15px;
    font-family: 'Aboreto', cursive;
    transition: 1000ms;
    text-decoration: none;
}


.nav__link:hover{
   color: #88664d;
}


.banner{
    display: flex;
    padding-top: 30px;
}

.banner__desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.banner__title{
   
    line-height: 130%;
    font-size: 44px;
    color: #FFFFFF;
    padding-bottom: 42px;
}


.banner__text{
    max-width: 460px; 
    color: #CDCDCD;
    line-height: 160%;
    font-size: 15px;
    padding-bottom: 42px;
}


.banner__img{
    margin-top: 80px;
    margin-left: 42px;
}

/* section about */

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:80px 215px 100px 215px; 
}


.about__text{
    max-width: 430px;
}




.about__paragraph{
    padding-top: 25px;
    line-height: 160%;
    color: #4C4C4C;
}



.our-pets{
    padding: 80px 50px 100px 50px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.our-pets__slider{
    padding: 60px 145px  60px 145px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 45px;
}

.slider-item{
    color: white;
    border-radius: 9px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
}


.slider-item__name{
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 20px;
    color: #545454;
    padding-top: 30px;
}


.our-pets__title{
    text-align: center;
}

/* section help-shelter */

.help-shelter{
    padding: 80px 135px 100px 135px;
}


.help-shelter__icons-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    flex-wrap: wrap;
}


.help-shelter__item {
    margin-right: 60px;
    margin-left: 60px;
}


.help-shelter__item{
    padding-top: 60px;
}


.help-shelter__text{
    margin-top: 30px;
    font-size: 20px;
}


.help-shelter__title{
    text-align: center;
}


/* section donat */

.donat{
    display: flex;
    justify-content: center;
    padding: 90px 181px 100px 183px;
    background: #F6F6F6;
}


.donat__section{
    margin-left: 30px;
}


.donat__paragraph{
    letter-spacing: 0.06em;
    color: #545454;
    font-size: 15px;
    line-height: 110%;
    margin-top: 20px;
}


.donat__card{
    border-radius: 9px;
    padding: 10px 15px;
    font-size: 20px;
    color: #545454;
    max-width: 349px;
    margin-bottom: 20px;
    display: flex;
   line-height: 115%;
   align-items: center;
   letter-spacing: 0.06em;
    background-color: #F1CDB3;
}



.img__card{
    padding-right: 15px;
}


.donat__other{
    font-size: 12px;
    color: #B2B2B2;
}


.donat__title{
    margin-bottom: 20px;
}


.donat__paragraph{
    font-size: 15px;
    line-height: 110%;
    margin-bottom: 20px;
}

/* footer  */

.footer{
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}


.footer__bg-img {
    background: url(../img/footer-puppy.svg) no-repeat right bottom;
    justify-content: flex-start;
    display: flex;
    padding-top: 56px;
    padding-left: 40px;
}


.footer__bg-img:first-child{
    margin-right: 130px;
}


.footer__questions{
    margin-bottom: 100px;
}


.footer__questions:first-child{
    margin-right: 130px;
    margin-left: 40px;
}


.footer__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
}


.footer__title{
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}


.footer__item2{
    margin-top: 35px;
}


.footer__item1{
    margin-top: 43px;
}


.footer__text{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}


.footer__span{
    margin-left: 20px;
   
}

/* popup  */

.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}


.popup.open{
    opacity: 1;
    visibility: visible;
}

.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px  10px;
}

.popup__content{
    background-color: #FFFFFF;
    color: #1A1A1C;
    max-width: 800px;
    display: flex;
    position: relative;
}
.popup__close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #4C4C4C;
    text-decoration: none;
}

.popup__img{
    max-height: 500px;
    max-width: 500px;
}
.popup__wrapper{
    padding: 50px 20px 90px 30px;
}

.popup__name{
    margin-bottom: 10px;
    font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
}

.popup__dog{
margin-bottom: 40px;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
}

.popup__desc{
    margin-bottom: 40px;
    line-height: 110%;
letter-spacing: 0.06em;
}
.popup__item{
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}

.popup__item::marker{
color:  #F1CDB3;
}


.popup__strong{
    font-weight: bold;
}

.span{
    font-weight:normal
}
body.noscroll{
    overflow: hidden;
}