html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}


body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #545454;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


li {
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    border: none !important;
  }


p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}


.title-second {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
}


.container{
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 40px;
}

 
 .header{
     padding-top: 30px;
     padding-bottom: 30px;
     background: white
    }
 
 
 .menu{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 
 .menu__logo-desc{
     align-items: center;
     letter-spacing: 0.1em;
     color:  #545454;
     padding-top: 10px;
 }
 
 
 .menu__logo{
     color:  #545454;;
     font-size: 32px;
     line-height: 110%;
     text-decoration: none;
 }
 .menu__logo-desc{
    text-decoration: none;
 }
 
 .nav__link + .nav__link{
     margin-left: 35px;   
 }
 
 
 .nav__link{
     color:  #545454;;
     font-size: 15px;
     font-family: 'Aboreto', cursive;
     transition: 1000ms;
     text-decoration: none;
 }
 
 
 .nav__link:hover{
    color: #88664d;
    text-decoration:underline #F1CDB3
 }
 
 

.our-pets{
    padding: 80px 50px 100px 50px;
    background: #F6F6F6;
    padding: 80px 50px 100px 50px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.our-pets__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 60px 45px 30px 45px;
}


.our-pets__slider-item{
    background: #FAFAFA;
    border-radius: 9px;
    margin-right: 40px;
    margin-bottom: 30px;
}


.our-pets__name{
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 20px;
    color: #545454;
    padding-top: 30px;
}


.our-pets__title{
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}


.our-pets__button{
    border-color:  #F1CDB3;;
    background-color: #F6F6F6;
    color: #292929;
    margin-top: 35px;
    margin-left: 38px;
    margin-bottom: 30px;
    cursor: pointer;
    align-items: center;
    border-radius: 100px;
    font-size: 17px;
    letter-spacing: 0.06em;
    padding: 15px 45px 15px 45px;
}


.our-pets__button:hover{
    background: #FDDCC4;
    transition: 2000ms;
}



.our-pets-button-inner{
    text-align: center;
}


.button-item{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-color: #F1CDB3;
    background-color:  #F6F6F6;;
}


.main-button{
    background-color:#F1CDB3;
}


.footer{
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
    padding-bottom: 60px;
}


.footer__bg-img {
    background: url(../img/footer-puppy.svg) no-repeat right bottom;
    justify-content: flex-start;
    display: flex;
    padding-top: 56px;
    padding-right: 40px;
}

.footer__bg-img:first-child{
    margin-right: 130px;
}


.footer__questions:first-child{
    margin-right: 130px;
    margin-left: 40px;
}

.footer__link {
    text-decoration: none;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
}


.footer__title{
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}


.footer__item2{
    margin-top: 35px;
}


.footer__item1{
    margin-top: 43px;
}


.footer__text{
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}


.footer__span{
    margin-left: 20px;
   
}
